#main {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50px;
    overflow: hidden;
}

/* Header menu & search dropdowns */

.view-search {
	position: absolute;
	display: inline-block;
	top: 50%;
	right: 0;
	margin-top: -20px;
	padding: 5px 6px 5px 6px;	
}

.view-menu {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 0;
	margin-top: -20px;
	padding: 5px 6px 5px 6px;	
}

.view-menu i,
.view-search i {
	color: inherit;
	margin: 0;
	padding: 0;
	display: block;
	cursor: pointer;
	font-size: 24px;
}

.header-drop-down {
	position: fixed;
	top: 50px;
	width: 100%;
	z-index: 2;
	display: none;
	
	-webkit-box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, .1);
}

.header-drop-down.shown {
	display: block;
}

.menu-bar {
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
    bottom: 0;
    overflow-y: scroll;
    background: #FFFFFF;
}

.search-bar {
	background: #FAFAFA;
}

.menu-bar.shown,
.search-bar.shown {
	height: auto;
	display: block;
}

.menu-bar ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu-bar ul li {
	border-bottom: 1px solid #DDDDDD;
	font-size: 14px;
	color: #444444;
	font-weight: bold;
	background: #FAFAFA;
}

.menu-bar a,
.menu-bar a:visited {
	color: inherit;
	padding: 12px;
	display: block;
	color: #2477B3;
}

/* Footers */

.post-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #FFFFFF;
	border-top: 1px solid #BBBBBB;
	-webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .15);
	box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, .15);
	padding: 4px 0;
	text-align: center;
}

.post-footer img {
	width: 24px;
}

.site-footer {
	margin: 20px 10px;
	text-align: center;
	font-size: 12px;
}

.site-header {
    font-family: 'Varela Round', sans-serif;
}

/* Alert messages */

.alert {
	-webkit-border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 10px 14px;
	margin: 10px 0;
	font-weight: bold;
}

.alert.notice {
	color: #C09853;
	background-color: #FCF8E3;
	border-color: #FBEED5;
}


/* MISC */

.disabled {
	opacity: .2;	
}

.loading {
	position: absolute;
	bottom: 50%;
	text-align: center;
	color: #9F9F9F;
	width: 100%;
	display: none;
	font-size: 16px;
}

.dot {
	margin: 0 5px;
	color: #999;
}

.load-more {
	text-align: center;
	color: #9F9F9F;
	font-size: 14px;
	background: #FFFFFF;
	border-bottom: 1px solid #DDDDDD;
}

.load-more a,
.load-more a:visited,
.showing-all-articles {
	color: #9F9F9F!important;
	padding: 20px 0;
	display: block;
}

.clear {
	clear: both;
}

.ui-loader {
	display: none;
}

.hidden {
	display: none;
}


/* Add to homescreen*/

#addToHomeScreen {
	z-index:9999;
	-webkit-user-select:none;
	user-select:none;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-touch-callout:none;
	touch-callout:none;
	width:240px;
	font-size:15px;
	padding:12px 14px;
	text-align:left;
	font-family:helvetica;
	background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(0,#fff),color-stop(0.02,#eee),color-stop(0.98,#ccc),color-stop(1,#a3a3a3));
	border:1px solid #505050;
	-webkit-border-radius:8px;
	-webkit-background-clip:padding-box;
	color:#333;
	text-shadow:0 1px 0 rgba(255,255,255,0.75);
	line-height:130%;
	-webkit-box-shadow:0 0 4px rgba(0,0,0,0.5);
}

#addToHomeScreen.addToHomeIpad {
	width:268px;
	font-size:18px;
	padding:14px;
}

/**
 *
 * The 'wide' class is added when the popup contains the touch icon
 *
 */
#addToHomeScreen.addToHomeWide {
	width:296px;
}

#addToHomeScreen.addToHomeIpad.addToHomeWide {
	width:320px;
	font-size:18px;
	padding:14px;
}

/**
 *
 * The balloon arrow
 *
 */
#addToHomeScreen .addToHomeArrow {
	position:absolute;
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(204,204,204,0)),color-stop(0.4,rgba(204,204,204,0)),color-stop(0.4,#ccc));
	border-width:0 1px 1px 0;
	border-style:solid;
	border-color:#505050;
	width:16px; height:16px;
	-webkit-transform:rotateZ(45deg);
	bottom:-9px; left:50%;
	margin-left:-8px;
	-webkit-box-shadow:inset -1px -1px 0 #a9a9a9;
	-webkit-border-bottom-right-radius:2px;
}


/**
 *
 * The balloon arrow for iPad
 *
 */
#addToHomeScreen.addToHomeIpad .addToHomeArrow {
	-webkit-transform:rotateZ(-135deg);
	background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(0,rgba(238,238,238,0)),color-stop(0.4,rgba(238,238,238,0)),color-stop(0.4,#eee));
	-webkit-box-shadow:inset -1px -1px 0 #fff;
	top:-9px; bottom:auto; left:50%;
}


/**
 *
 * Close button
 *
 */
#addToHomeScreen .addToHomeClose {
	-webkit-box-sizing:border-box;
	position:absolute;
	right:4px;
	top:4px;
	width:18px;
	height:18px; line-height:14px;
	text-align:center;
	text-indent:1px;
	-webkit-border-radius:9px;
	background:rgba(0,0,0,0.12);
	color:#707070;
	-webkit-box-shadow:0 1px 0 #fff;
	font-size:16px;
}


/**
 *
 * The '+' icon, displayed only on iOS < 4.2
 *
 */
#addToHomeScreen .addToHomePlus {
	font-weight:bold;
	font-size:1.3em;
}


/**
 *
 * The 'share' icon, displayed only on iOS >= 4.2
 *
 */
#addToHomeScreen .addToHomeShare {
	display:inline-block;
	width:18px;
	height:15px;
	background-repeat:no-repeat;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAPCAQAAABDj1eZAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUdJREFUKFNtkLtLw1AYxS/qJLhXVKr2ZRulUNtiqgSb3CziICI6ucTFVYcOnaQOFRwUnNTRwUWXgpP/QdHNUEQUHGxofYBTlRs83iZNjKTncOGe7/vx3QchXUWn6FL3jhfKUdCCr5zuifV5oDiHQM+c+CIhiiCSWNu08iq9oHXKLAiqrgR4UXqlOEYZt++ExEL0wW7+OW0G10muLv9gmqfe5FAWKmTMYQYiFL7PYwyLOD8lSjNh2gdnPzMII4QUBxc4OothbAF7GCBKQ0YbSWyPQsIhqvetS+y0ygGMo/KFZfviDvR4AhwgZU9dGYnA0J/6ndc15i3ouYIMcVVUcEXIoOxCeRCfwP8sXBSdjtpUv/1QW+K16kCCIUC4id9Fa0JtkluwVkSfqPL6RwfSDA0aNlx7k/bWgViB7bMS2/1vk5sdsZLN/ALSuL3tylO4RAAAAABJRU5ErkJggg==);
	background-size:18px 15px;
	text-indent:-9999em;
	overflow:hidden;
}


/**
 *
 * The touch icon (if available)
 *
 */
#addToHomeScreen .addToHomeTouchIcon {
	display:block;
	float:left;
	-webkit-border-radius:6px;
	border-radius:6px;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5),
		inset 0 0 2px rgba(255,255,255,0.9);
	box-shadow:0 1px 3px rgba(0,0,0,0.5),
		inset 0 0 2px rgba(255,255,255,0.9);
	background-repeat:no-repeat;
	width:57px; height:57px;
	-webkit-background-size:57px 57px;
	background-size:57px 57px;
	margin:0 12px 0 0;
	border:1px solid #333;
	-webkit-background-clip:padding-box;
	background-clip:padding-box;
}
